.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 24px var(--main-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  font-weight: 600;
}

.logo,
.navTools {
  width: 200px;
}

.logo {
  transform: translateY(5px);
}

.navUl,
.navTools {
  display: flex;
  gap: 4.55rem;
}

.navUl li {
  width: 70px;
  text-align: center;
}

.navTools {
  justify-content: flex-end;
}

.navTools > * {
  cursor: pointer;
}

/* SEARCH MODAL */

.searchModal {
  position: fixed;
  top: 30px;
  left: 25vw;
  right: 25vw;
  background-color: white;
  z-index: 10;
  border: none;
  border-bottom: 1px solid var(--light-color);
}

.searchModal input {
  height: 40px;
  width: 100%;
  border: 0;
  outline: none;
  color: var(--main-color);
  font-size: 1rem;
}

.searchModal input::placeholder {
  color: var(--main-color);
}

.searchModal svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
