.sortings {
  margin: 0 var(--main-padding);
  display: flex;
  justify-content: space-between;
  gap: var(--main-gap);
}

.button {
  flex: 1;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  color: var(--main-color);
  font-size: 1rem;
  border: 2px solid transparent;
  position: relative;
  transition: border-color 0.2s ease;
}

.active {
  border: 2px solid var(--secondary-color);
}

.button svg {
  position: absolute;
  right: calc(var(--card-padding) / 2);
  top: 50%;
  transform: translateY(-50%);
}
