:root {
  --main-padding: clamp(20px, 8vw, 105px);
  --card-padding: 3.25rem;
  --main-color: #0a135c;
  --secondary-color: #405bb2;
  --light-color: #eeeaee;
  --main-gap: 2.815rem;
}

/* RESET */

body {
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

ul,
li {
  all: unset;
}

h1,
ul,
p {
  margin: 0;
}

/* GLOBAL STYLEs */

body {
  color: var(--main-color);
}

.bodyBackground {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #f7eff1, #9cadcc);
}

.marginTop {
  margin-top: 100px;
}

/* FONTS */

h1 {
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-bottom: 3rem;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
